<!DOCTYPE html>
<html lang="en">
{% extends "businesscard_parent.html" %}
{% block head %}
{% endblock %}
    <body>
        {% block content %}
        <h1 class="o-mnie">Kontakt</h1>
        <ul><h2>
            <li>email: zara.pug.yt@gmail.com</li>
            <li>telefon: unknown</li>
        </h2></ul>
        <h2>Wyślij wiadomość</h2>
        <form>
            <textarea cols="50" rows="4"></textarea>
            <input type="submit" value="Prześlij">
        </form>
        {% endblock %}

    </body>
</html>